DISCORD_BOT_TOKEN=
DISCORD_ORDER_CHANNEL_ID=
DISCORD_BILLING_CHANNEL_ID=

GOOGLE_SPREADSHEET_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=

GOOGLE_SPREADSHEET_MENU_URL=
GOOGLE_SPREADSHEET_MENU_ID=