DISCORD_BOT_TOKEN=
DISCORD_CHANNEL_ID=
DISCORD_APPLICATION_ID=
DISCORD_PUBLIC_KEY=

GOOGLE_SPREADSHEET_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=

GOOGLE_SPREADSHEET_MENU_URL=
GOOGLE_SPREADSHEET_MENU_ID=